p{
    text-align: center;
}
body{
    background-color: slategray;
    }
em strong{
    color: magenta;
}    
#mecanica {
    width: 50%;
}
#logofinal {
    width: 80%;
}
body {

}

.sobre{
    background: #b33636;
    padding: 30px;
}