p{
text-align: center;
}
body{
background-color: slategray;
    }
em strong{
    color: magenta;
}    
#mecanica {
height: 400px;
width: 1000px;
}
#logofinal {
width: 80%;
}
body {

}

sobre{
background: #b33636;
padding: 30px;
}